<% if (alert.message != '') { %>
<div class="alert alert-<%= alert.status %> text-white" role="alert">
    <%= alert.message %>
</div>
<% } %>

<div class="card">
  <div class="card-header pb-0 p-3">
    <div class="row">
      <div class="col-6 d-flex align-items-center">
        <h6 class="mb-0">My Ability</h6>
      </div>
      <div class="col-6 text-end">
        <button type="button" class="btn btn-sm bg-gradient-primary pb-2" data-bs-toggle="modal" data-bs-target="#modalAdd">
          <i class="material-icons text-sm">add</i>
          &nbsp;&nbsp;Add New Ability
        </button>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table align-items-center mb-0 table-ability">
      <thead>
        <tr>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nomor</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Icon</th>
          <th width="15%" class="text-secondary opacity-7"></th>
        </tr>
      </thead>
      <tbody>
        <% abilities.forEach((ability, index) => { %>
        <tr>
          <td class="align-middle">
            <p class="text-xs px-2 py-1">
              <%= index + 1 %>
            </p>
          </td>
          <td>
            <div class="d-flex px-2 py-1">
              <p class="text-xs"><%= ability.name %></p>
            </div>
          </td>
          <td>
            <img src="https://admin-wapsite.herokuapp.com/<%= ability.imageUrl %>" alt="<%= ability.name %>">
          </td>
          <td class="align-middle">
            <form action="/admin/ability/<%= ability._id %>?_method=DELETE" method="POST">

              <a href="javascript:;" class="text-secondary font-weight-normal text-xs pe-3 ability-edit" data-toggle="tooltip" data-original-title="Edit project" data-id="<%= ability._id %>" data-name="<%= ability.name %>">
                Edit
              </a>
              <button type="submit" class="btn btn-sm text-danger font-weight-normal text-xs py-0 my-0" data-toggle="tooltip" data-original-title="Delete project" style="text-transform: capitalize;">
                Delete
              </button>

            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

